:root {
    --primary: #FCFCFD;
    --secondary: #2F3439;
    --tertiary: #ED550D;
    --success: #2dd36f;
    --warning: #ffc409;
    --danger: #eb445a;
    --medium: #44474a;
    --light: #92949c;
  }